.footer {
    display: flex;
    justify-content: right;
    align-items: center;

    width: 100%;
    padding: 16px 80px;
    gap: 8px;

    background-color: var(--color-bg-surface);

    border-top: 1px solid var(--color-border-default);
}

.footer-text {
    font-weight: 400;
    font-size: 12px;
    color: var(--color-text-secondary);
}

.footer-text a {
    text-decoration: underline;
    text-decoration-style: solid;
}