.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 20px;
  padding: 24px var(--page-gutter);
}

.page-title {
  font-size: 38px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: -1.71px;
}
